---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Coheteria Beauchef"
  description="Base simple para construir una landing estatica sin estructura de monorepo."
>
  <main class="flex flex-col">
    <h1 class="text-white">
      Coheteria Beauchef
    </h1>
  </main>
</Layout>
