---
import AboutSection from "./AboutSection.astro";
import CtaSection from "./CtaSection.astro";
import HeroSection from "./HeroSection.astro";
import InstagramSection from "./InstagramSection.astro";
import SiteFooter from "./SiteFooter.astro";
import SocialBanner from "./SocialBanner.astro";
import SponsorsSection from "./SponsorsSection.astro";
---

<main class="flex flex-col bg-white">
  <HeroSection />
  <AboutSection />
  <CtaSection />
  <InstagramSection />
  <SponsorsSection />
  <SocialBanner />
  <SiteFooter />
</main>
