---
import AboutSection from "./about/AboutSection.astro";
import CtaSection from "./cta/CtaSection.astro";
import AnnouncementBar from "./announcement/AnnouncementBar.astro";
import HeroSection from "./hero/HeroSection.astro";
import InstagramSection from "./instagram/InstagramSection.astro";
import SiteFooter from "./footer/SiteFooter.astro";
import SocialBanner from "./socials/SocialBanner.astro";
import SponsorsSection from "./sponsors/SponsorsSection.astro";
---

<main class="flex flex-col bg-white">
  <AnnouncementBar />
  <HeroSection />
  <AboutSection />
  <InstagramSection />
  <SponsorsSection />
  <CtaSection />
  <SocialBanner />
  <SiteFooter />
</main>
