---
import "../styles/global.css";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Coheteria Beauchef",
  description = "Landing Page estatica de Coheteria Beauchef construida con Astro.",
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
    <slot name="head" />
  </head>
  <body class="min-h-screen bg-neutral-950 text-white antialiased">
    <slot />
  </body>
</html>
